server {
	listen 127.0.0.1:8070
	server_name example
	error_page /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/error_pages
	location / {
		index home_page.html
		autoindex on
		methods POST,HEAD,PUT
		root /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/home_page
		max_body 3
		}
	location /authorization_page {
		index authorization_page.html
		methods GET,POST
		root /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/authorization_page
		exec authorization_page2.php
		}
	location /user_registration {
		index user_registration.html
		methods GET,POST
		root /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/user_registration
		exec user_registration.cgi
		}
}

server {
	listen 127.0.0.1:8080
	server_name for_tester
	error_page /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/error_pages
	location / {
		autoindex off
		index home_page.html
		methods GET
		root /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/home_page
		}
	location /put_test {
	    index home_page.html
		methods PUT
		root /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/home_page
	}
	location /post_body {
		methods POST
		index home_page.html
		root /Users/mac/Desktop/webserv/ProjectWithMakefile/content_for_webServer/home_page
		max_body 100
	}
	location /directory {
		methods GET,POST
		root /Users/mac/Desktop/webserv/ProjectWithMakefile/YoupiBanane
		index youpi.bad_extension
		exec cgi_tester
	}
}

